
.sidebar.open {
    width: 30%;
}

.sidebar.open {
    width: 30%;
}

.sidebar.collapsed {
    width: 60px;
    padding: 1rem;
}


.toggle-btn {
    background-color: #61dafb;
    border: none;
    color: black;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}
.toggle-btn {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 10%;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #61dafb;
    color: black;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}



.toggle-btn:hover {
    background-color: #21a1f1;
}

.sidebar.open .toggle-btn {
    transform: rotate(0deg);
}

.sidebar.collapsed .toggle-btn {
    transform: rotate(180deg);
}
.icon {
    display: inline-flex;
    vertical-align: middle;
    margin-right: 6px;
}

.function-button {
    background: linear-gradient(135deg, #0072ff, #00c6ff);
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.function-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 114, 255, 0.3);
}
